.header-card {
  background: url("https://jeraldinnemg.github.io/profile-card-component/images/bg-pattern-card.svg");
  width: 100%;
  height: 130px;
  border-radius: 10px 10px 0 0; //top-left, top-right, bottom-right, bottom-left):
}
