// Colors

$backgroundColor: hsl(185, 75%, 39%);
$primary: hsl(229, 23%, 23%);
$secondary: hsl(227, 10%, 46%);
$neutral: hsl(0, 0%, 59%);

// Fontsize

$font-m: 1.125rem; //18px
$font-sm: 0.75rem; // 12px
$font-xs: 0.625rem; // 10px
$weight-bold: 700;
$weight-regular: 400;
